  
* {
    font-family: Morn;
}

body {
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
}

.designone {
    margin: 0;
    background-color: #E6F2FA;
    height: 50%;
    width: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.milky {
    position: absolute;
    animation: wavey 20s linear infinite;
    z-index: 1;
    width: 50%;
    top: 0;
}
.milky2 {
    position: absolute;
    animation: wavey2 20s linear infinite;
    z-index: 2;
    float: left;
    width: 50%;
    top: 0;
}
.textcontainer {
    background-color: rgba(white, 0.4);
    border: 1px solid rgb(246, 253, 255);
    z-index: 4;
    border-radius: 10%;
    height: 50%;
    width: 50%;
    text-align: center;
    font-size: 1.6vh;
    padding: 5%;
    overflow: hidden;
}
.designtwo {
    position: relative;
    background-image: url(/Spacedesign/BG.svg);
    background-attachment: cover;
    background-repeat: none;
    background-position: center;
    height: 50%;
    width: 50%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
#universe {
    position: absolute;
}
.sun {
    position: absolute;
    height: 100%;
    width: 100%;
}
.stars {
    position: absolute;
    height: 100%;
    width: 100%;
}
.orbit {
    position: absolute;
    border: 2px solid transparent;
    height: 100%;
    width: 50%;
    border-radius: 50%;
    animation: rotate 30s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.moonorbit {
    position: absolute;
    border: 2px solid transparent;
    border-radius: 50%;
    height: 40%;
    width: 40%;
    bottom: 5%;
    animation: rotate 10s linear infinite;
}
.earth {
    height: 40%;
    bottom: 5%;
}
.moon {
    height: 20%;
}
.designthree {
    background-color: rgb(126, 126, 126);
    height: 50%;
    width: 50%;
}
.designfour {
    background-color: rgb(32, 32, 32);
    height: 50%;
    width: 50%;
}

@keyframes wavey {
    0% {
        transform: translateX(0px);
    }
    
    100% {
        transform: translateX(100%);
    }
  }
  @keyframes wavey2 {
    0% {
        transform: translateX(-100%);
    }
    
    100% {
        transform: translateX(0px);
    }
  }
  @keyframes rotate {
    0% {
        transform: rotate(0);
    }
    
    100% {
        transform: rotate(360deg);
    }
  }
  @font-face {
    font-family: Morn;
    src: url("Roboto-Thin.ttf");
  }