* {
  font-family: Morn;
}

body {
  margin: 0;
  overflow: hidden;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}

.designone {
  margin: 0;
  background-color: #E6F2FA;
  height: 50%;
  width: 50%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.milky {
  position: absolute;
  -webkit-animation: wavey 20s linear infinite;
          animation: wavey 20s linear infinite;
  z-index: 1;
  width: 50%;
  top: 0;
}

.milky2 {
  position: absolute;
  -webkit-animation: wavey2 20s linear infinite;
          animation: wavey2 20s linear infinite;
  z-index: 2;
  float: left;
  width: 50%;
  top: 0;
}

.textcontainer {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid #f6fdff;
  z-index: 4;
  border-radius: 10%;
  height: 50%;
  width: 50%;
  text-align: center;
  font-size: 1.6vh;
  padding: 5%;
  overflow: hidden;
}

.designtwo {
  position: relative;
  background-image: url(/Spacedesign/BG.svg);
  background-attachment: cover;
  height: 50%;
  width: 50%;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#universe {
  position: absolute;
}

.sun {
  position: absolute;
  height: 100%;
  width: 100%;
}

.stars {
  position: absolute;
  height: 100%;
  width: 100%;
}

.orbit {
  position: absolute;
  border: 2px solid transparent;
  height: 100%;
  width: 50%;
  border-radius: 50%;
  -webkit-animation: rotate 30s linear infinite;
          animation: rotate 30s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.moonorbit {
  position: absolute;
  border: 2px solid transparent;
  border-radius: 50%;
  height: 40%;
  width: 40%;
  bottom: 5%;
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
}

.earth {
  height: 40%;
  bottom: 5%;
}

.moon {
  height: 20%;
}

.designthree {
  background-color: #7e7e7e;
  height: 50%;
  width: 50%;
}

.designfour {
  background-color: #202020;
  height: 50%;
  width: 50%;
}

@-webkit-keyframes wavey {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes wavey {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes wavey2 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes wavey2 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@font-face {
  font-family: Morn;
  src: url("Roboto-Thin.ttf");
}
/*# sourceMappingURL=stylesheet.css.map */